<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/public/admin/">
  <title>Admin</title>
  <%- include('./../../partials/header') -%>
  <link href="assets\libs\toastr\toastr.min.css" rel="stylesheet" type="text/css">
</head>

<body data-editor="ClassicEditor" data-collaboration="false">

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%- include('./../../component/Topbar', {user}); -%>
    <!-- end Topbar -->
    <!-- ========== Left Sidebar Start ========== -->
    <%- include('./../../component/Leftbar'); -%>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Viết bài mới :)</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Velonic</a></li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Dashboard 1</li>
                  </ol>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-lg-12">
              <form action=<%= `/admin/blog/articles/${articleData.id}/update?_method=PATCH` %> method="POST">
                <div class="card">
                  <div class="card-header">
                    <input name="title" type="text" class="form-control"
                      value="<%= articleData ? articleData.title : ''%>">
                  </div>
                  <div class="card-body">
                    <textarea name="content" id="editor1" style="visibility: hidden">
                      <%= articleData ? articleData.content : null %>
                    </textarea>
                  </div>
                  <div class="card-footer d-flex justify-content-end">
                    <button id="deleteUserBtn" type="button" data-toggle="modal" data-target=".bs-example-modal-sm"
                      class="mr-3 btn btn-outline-danger btn-rounded waves-effect width-md waves-light">
                      Xóa
                    </button>
                    <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect width-md waves-light">
                      Cập nhật
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        <!-- end container-fluid -->

      </div>
      <!-- end content -->

      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        style="display: none;" aria-hidden="true">
        <form action="/admin/blog/articles/<%= articleData.id %>/delete?_method=DELETE" method="POST"
          enctype="application/x-www-form-urlencoded">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="mySmallModalLabel">Bạn có muốn xóa bài viết này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect mr-3" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger waves-effect waves-light">Xóa</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
        </form>
        <!-- /.modal-dialog -->
      </div>

      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              2015 - 2020 &copy; Velonic theme by <a href="">Coderthemes</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->


  <!-- Right Sidebar -->
  <%- include('./../../component/Rightbar'); -%>
  <!-- /Right-bar -->

  <%- include('./../../partials/script_footer') -%>
  <script src="assets\libs\toastr\toastr.min.js"></script>
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    try {
      const status = "<%- message ? message.status : '' %>";
      const contentArr = "<%- message ? message.contents : '' %>";
      contentArr.split(',').forEach(content => content != '' ? toastr[status](content) : null)
    } catch (err) {
      console.log(err);
    }
  </script>
  <script src="ckeditor/ckeditor.js"></script>
  <script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
  </script>
</body>

</html>