<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/public/admin/">
  <title>Admin</title>
  <%- include('./../../partials/header') -%>
  <link href="assets\libs\toastr\toastr.min.css" rel="stylesheet" type="text/css">
  <link href="assets\libs\dropzone\dropzone.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" id="u0" referrerpolicy="origin"
    href="https://cdn.tiny.cloud/1/2915bg1q653j3923vjzn1e30iaq6aijt5sd0c429mcvdh9ov/tinymce/5.3.2-85/skins/ui/oxide/skin.min.css">
  <link href="assets\libs\select2\select2.min.css" rel="stylesheet" type="text/css">
  <style>
    #tinymce {
      color: black;
      font-size: 16px;
    }

    .select2-container .select2-selection--multiple .select2-selection__choice {
      background-color: #3bc0c3;
      border: none;
      color: #fff;
      border-radius: 3px;
      padding: 0 7px;
      margin-top: 7px;
    }
  </style>
</head>

<body data-editor="ClassicEditor" data-collaboration="false">

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%- include('./../../component/Topbar', {user}); -%>
    <!-- end Topbar -->
    <!-- ========== Left Sidebar Start ========== -->
    <%- include('./../../component/Leftbar'); -%>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Chỉnh sửa bài viết</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="/admin/blog/articles">Quản lý bài viết</a></li>
                    <li class="breadcrumb-item active">Chỉnh sửa bài</li>
                  </ol>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-lg-12">
              <form action=<%= `/admin/blog/articles/${articleData.id}/update?_method=PATCH` %> method="POST">
                <div class="card">
                  <div class="card-header">
                    <input name="title" type="text" class="form-control mb-3"
                      value="<%= articleData ? articleData.title : ''%>">
                    <input name="description"" type=" text" class="form-control mb-3" placeholder="Mô tả bài viết"
                      value="<%= articleData ? articleData.description : ''%>">
                    <input name="thumbnail" class="form-control mb-3" type="text" id="thumbnail"
                      value="<%= articleData ? articleData.thumbnail : ''%>">
                    <img id="imgThumbnail" src=<%= articleData ? articleData.thumbnail : '' %> class="mr-auto ml-auto"
                      alt="" style="max-width: 100%">
                  </div>

                  <div class="card-body">
                    <textarea name="content" id="editor1" style="visibility: hidden">
                      <%= articleData ? articleData.content : null %>
                    </textarea>
                  </div>

                  <div class="card-body">
                    <div id="selectedTagAndCategory" style="display: none"
                      data-category="<%= articleData ? articleData.category.id : ''%>"
                      data-tags="<%= articleData ? articleData.tags.map(tag => tag.id) : '' %>"></div>
                    <h4 class="header-title mb-4">Category và Tags</h4>
                    <h5 class="font-14">Category</h5>
                    <select id="categorySelect" class="js-example-basic-single" name="category">
                      <% categories ? categories.forEach((category, idx) => { %>
                      <option value="<%= category.id %>"><%= category.name %></option>
                      <%}) : ''%>
                    </select>
                    <h5 class="font-14 mt-4">Tag</h5>
                    <select id="tagsSelect" class="js-example-basic-multiple" name="tags[]" multiple="multiple">
                      <% tags ? tags.forEach((tag, idx) => { %>
                      <option value="<%= tag.id %>"><%= tag.name %></option>
                      <%}) : ''%>
                    </select>
                  </div>

                  <div class="card-footer d-flex justify-content-end">
                    <button id="deleteUserBtn" type="button" data-toggle="modal" data-target=".bs-example-modal-sm"
                      class="mr-3 btn btn-outline-danger btn-rounded waves-effect width-md waves-light">
                      Xóa
                    </button>
                    <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect width-md waves-light">
                      Cập nhật
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- DROPZONE -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="header-title mb-4">Dropzone File Upload</h4>
                  <form id="myAwesomeDropzone" action="/admin/blog/upload-image" method="POST"
                    enctype="multipart/form-data" class="dropzone dz-clickable">
                    <input name="file" type="file" class="dz-hidden-input"
                      style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
                    <div class="dz-message needsclick">
                      <div>
                        <i class="mdi mdi-cloud-upload-outline display-4"></i>
                      </div>
                      <h4>Kéo hoặc click vào đây để upload ảnh</h4>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end container-fluid -->

      </div>
      <!-- end content -->

      <!-- DELETE MODAL -->
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        style="display: none;" aria-hidden="true">
        <form action="/admin/blog/articles/<%= articleData.id %>/delete?_method=DELETE" method="POST"
          enctype="application/x-www-form-urlencoded">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="mySmallModalLabel">Bạn có muốn xóa bài viết này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect mr-3" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger waves-effect waves-light">Xóa</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
        </form>
        <!-- /.modal-dialog -->
      </div>


      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              2015 - 2020 &copy; Velonic theme by <a href="">Coderthemes</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->


  <!-- Right Sidebar -->
  <%- include('./../../component/Rightbar'); -%>
  <!-- /Right-bar -->

  <%- include('./../../partials/script_footer') -%>
  <script src="assets\libs\select2\select2.min.js"></script>
  <script src="assets\libs\toastr\toastr.min.js"></script>
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    try {
      const status = "<%- message ? message.status : '' %>";
      const contentArr = "<%- message ? message.contents : '' %>";
      contentArr.split(',').forEach(content => content != '' ? toastr[status](content) : null)
    } catch (err) {
      console.log(err);
    }
  </script>
  <script src="tinymce/tinymce.min.js"></script>
  </script>
  <%- include('./partials/tinyMCE.config.ejs') -%>
  <script src="assets\libs\dropzone\dropzone.min.js"></script>
  <script>
    Dropzone.options.myAwesomeDropzone = {
      success: (file, responseText) => {
        console.log(file)
        console.log(responseText)
        document.getElementById('thumbnail').value = responseText.location;
      }
    }

    $('#thumbnail').on('change', (event) => {
      $('#imgThumbnail').attr('src', $('#thumbnail').val());
    })
  </script>

  <script>
    $(document).ready(function () {
      $('.js-example-basic-single').select2();
    });
    $(document).ready(function () {
      $('.js-example-basic-multiple').select2();
    });
    $(document).ready(function () {
      console.log($('#selectedTagAndCategory').data('category'))
      const tagData = $('#selectedTagAndCategory').data('tags');
      $('#tagsSelect').val(typeof tagData === 'number' ? [tagData] : tagData.split(','));
      $('#tagsSelect').trigger('change');
      $('#categorySelect').val($('#selectedTagAndCategory').data('category'));
      $('#categorySelect').trigger('change');
    })
  </script>
</body>

</html>