<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Charifit</title>
    <%- include('./../common/header') -%>
    <style>
        #inputSearch {
            color: black;
        }
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include('./../common/top-navigation') -%>

    <!-- header-end -->

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <% articleDatas ? articleDatas.forEach((article, index) => { %>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0 lazyload" src=<%= article.thumbnail %> alt="">
                                <a href="#" class="blog_item_date">
                                    <h3><%= new Date(article.created_at).getDate() %></h3>
                                    <p><%= new Date(article.created_at).getMonth() + 1 %>/<%= new Date(article.created_at).getFullYear()%>
                                    </p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="/blog/<%= article.slug %>">
                                    <h2><%= article.title %></h2>
                                </a>
                                <p><%= article.description %></p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i><%= article.author.name %></a></li>
                                    <li><%= article.tags ? article.tags.map(tag => `#${tag.name} `).join(' ') : ''%>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <%}) : null%>
                        <!-- PAGINATION -->
                        <!-- <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="/blog" method="GET">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input id="inputSearch" name="keyword" type="text" class="form-control"
                                            placeholder='Từ khóa cần tìm kiếm' onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Từ khóa cần tìm kiếm'">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn" type="button"><i
                                                    class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Danh mục</h4>
                            <ul class="list cat-list">
                                <% categories ? categories.forEach((category) => { %>
                                <li>
                                    <a href="/blog?category=<%= category.slug %>" class="d-flex">
                                        <p><b><%= category.name %></b> (<%= category.articles %>)</p>
                                    </a>
                                </li>
                                <% }) : ''%>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag</h4>
                            <ul class="list">
                                <% tags ? tags.forEach((tag) => { %>
                                <li>
                                    <a href="/blog?tag=<%= tag.slug %>"><b><%= tag.name %></b></a>
                                </li>
                                <% }) : '' %>
                            </ul>
                        </aside>

                        <!-- RECENT POST -->
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Bài viết mới nhất</h3>
                            <% topArticles ? topArticles.forEach(article => { %>
                            <div class="media post_item">
                                <img class="lazyload" style="width: 80px; height: 80px"
                                    src="<%= article.thumbnail ? article.thumbnail : '' %>"
                                    alt="<%= article.name ? article.name : '' %>">
                                <div class="media-body">
                                    <a href="/blog/<%= article.slug ? article.slug : '' %>">
                                        <h3><%= article.title ? article.title : '' %></h3>
                                    </a>
                                    <p><%= article.created_at ? `${new Date(article.created_at).getDate()}/${new Date(article.created_at).getMonth() + 1}/${new Date(article.created_at).getFullYear()}` : '' %>
                                    </p>
                                </div>
                            </div>
                            <% }) : null %>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!-- footer_start  -->
    <%- include('./../common/footer') -%>
    <!-- footer_end  -->

    <!-- JS here -->
    <%- include('./../common/script') -%>

    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
        // $(document).ready(function () {
        //     if ($('.js-example-basic-multiple')) {
        //         $('.js-example-basic-multiple').select2();
        //     }
        // });
        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);
        document.getElementById('inputSearch').value = params.get('keyword')
    </script>
</body>

</html>