<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/public/admin/">
  <title>Admin</title>
  <%- include('./../../partials/header') -%>
  <link href="assets\libs\toastr\toastr.min.css" rel="stylesheet" type="text/css">
</head>

<body>

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%- include('./../../component/Topbar', {user}); -%>
    <!-- end Topbar -->
    <!-- ========== Left Sidebar Start ========== -->
    <%- include('./../../component/Leftbar'); -%>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Phát động chiến dịch mới</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="/admin/campaign/general">Chiến dịch</a></li>
                    <li class="breadcrumb-item active">Phát động chiến dịch mới</li>
                  </ol>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-lg-12">
              <form action="/admin/campaign/create" method="POST" class="parsley-examples" novalidate="">
                <div class="card">
                  <div class="card-body">
                    <h4 class="header-title mb-4"></h4>
                    <div class="form-group row">
                      <label for="name" class="col-md-4 col-form-label">Tên chiến dịch<span
                          class="text-danger">*</span></label>
                      <div class="col-md-7">
                        <input id="name" name="name" data-parsley-minlength="6" type=" text" required=""
                          class="form-control" placeholder="Tên chiến dịch"
                          value="<%= formData && formData.name ? `${formData.name}` : ''%>">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="description" class="col-md-4 col-form-label">Mô tả<span
                          class="text-danger">*</span></label>
                      <div class="col-md-7">
                        <input id="description" name="description" data-parsley-minlength="6" type=" text" required=""
                          class="form-control" placeholder=""
                          value="<%= formData && formData.description ? `${formData.description}` : ''%>">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="status" class="col-md-4 col-form-label">Trạng thái<span
                          class="text-danger">*</span></label>
                      <div class="col-md-7">
                        <input id="status" name="status" data-parsley-minlength="6" type=" text" required=""
                          class="form-control" placeholder="Đang phát đông/ Đang quyên góp/ Kết thúc ..."
                          value="<%= formData && formData.status ? `${formData.status}` : ''%>">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="thumbnail" class="col-md-4 col-form-label">Thumbnail</label>
                      <div class="col-md-7">
                        <input id="thumbnail" name="thumbnail" type=" text" class="form-control"
                          placeholder="Link ảnh (tính năng upload ảnh sẽ hỗ trợ sau)"
                          value="<%= formData && formData.thumbnail ? `${formData.thumbnail}` : ''%>">
                      </div>
                    </div>
                    <div class=" form-group row mb-0">
                      <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect waves-light mr-1">
                          Tạo
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        <!-- end container-fluid -->

      </div>
      <!-- end content -->




      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              2015 - 2020 &copy; Velonic theme by <a href="">Coderthemes</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->


  <!-- Right Sidebar -->
  <%- include('./../../component/Rightbar'); -%>
  <!-- /Right-bar -->

  <%- include('./../../partials/script_footer') -%>
  <script src="assets\js\pages\form-validation.init.js"></script>
  <script src="assets\libs\parsleyjs\parsley.min.js"></script>
  <script src="assets\libs\toastr\toastr.min.js"></script>
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    try {
      const status = "<%- message ? message.status : '' %>";
      const contentArr = "<%- message ? message.contents : '' %>";
      contentArr.split(',').forEach(content => content != '' ? toastr[status](content) : null)
    } catch (err) {
      console.log(err);
    }
  </script>
</body>

</html>