<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/public/admin/">
  <title>Admin</title>
  <%- include('./../../partials/header') -%>
  <link href="assets\libs\toastr\toastr.min.css" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%- include('./../../component/Topbar', {user}); -%>
    <!-- end Topbar -->
    <!-- ========== Left Sidebar Start ========== -->
    <%- include('./../../component/Leftbar'); -%>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Quản lý chiến dịch</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Velonic</a></li>
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Dashboard 1</li>
                  </ol>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="w-50">
                  <h5 class="my-4">Chiến dịch đã phát động</h5>
                </div>
                <div class="w-50 d-flex justify-content-end" style="font-size: 22px">
                  <a href="/admin/campaign/create"><i style="padding: 0 10px; cursor: pointer"
                      class="ion ion-md-add"></i></a>
                </div>
              </div>
              <div class="card-deck-wrapper">
                <div class="card-deck">
                  <% campaigns ? campaigns.forEach(campaign => { %>
                  <div class="card mb-3 col-md-4">
                    <img class="card-img-top img-fluid" src="<%= campaign.thumbnail %>" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/admin/campaign/<%= campaign.id %>/edit"><%= campaign.name %></a>
                      </h5>
                      <p class="card-text"><%= campaign.description %></p>
                      <p class="card-text">
                        <small class="text-muted"><%= campaign.status %></small>
                      </p>
                    </div>
                  </div>
                  <% }) : '' %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end container-fluid -->

      </div>
      <!-- end content -->


      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              2015 - 2020 &copy; Velonic theme by <a href="">Coderthemes</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->


  <!-- Right Sidebar -->
  <%- include('./../../component/Rightbar'); -%>
  <!-- /Right-bar -->

  <%- include('./../../partials/script_footer') -%>
  <script src="assets\libs\toastr\toastr.min.js"></script>
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    try {
      const status = "<%- message ? message.status : '' %>";
      console.log(status);
      const contentArr = "<%- message ? message.contents : '' %>";
      contentArr.split(',').forEach(content => content != '' ? toastr[status](content) : null)
      console.log(contentArr);
    } catch (err) {
      console.log(err);
    }
  </script>
</body>

</html>