<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <base href="/public/admin/">
  <title>Admin</title>
  <%- include('./../../partials/header') -%>

</head>

<body>

  <!-- Begin page -->
  <div id="wrapper">


    <!-- Topbar Start -->
    <%- include('./../../component/Topbar', {user}); -%>
    <!-- end Topbar -->
    <!-- ========== Left Sidebar Start ========== -->
    <%- include('./../../component/Leftbar'); -%>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Welcome !</h4>
                <div class="page-title-right">
                  <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item active">Trang chủ</li>
                  </ol>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class="row">
            <div class="col-xl-4 col-sm-6">
              <div class="card bg-pink">
                <div class="card-body widget-style-2">
                  <div class="text-white media">
                    <div class="media-body align-self-center">
                      <h2 class="my-0 text-white"><span
                          data-plugin="counterup"><%= count ? count.campaigns : 0 %></span></h2>
                      <p class="mb-0">Chiến dịch</p>
                    </div>
                    <i class="ion ion-md-flame"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6">
              <div class="card bg-purple">
                <div class="card-body widget-style-2">
                  <div class="text-white media">
                    <div class="media-body align-self-center">
                      <h2 class="my-0 text-white"><span data-plugin="counterup"><%= count ? count.articles : 0 %></span>
                      </h2>
                      <p class="mb-0">Bài viết</p>
                    </div>
                    <i class="ion ion-md-paper"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6">
              <div class="card bg-info">
                <div class="card-body widget-style-2">
                  <div class="text-white media">
                    <div class="media-body align-self-center">
                      <h2 class="my-0 text-white"><span
                          data-plugin="counterup"><%= count ? count.volunteers : 0 %></span></h2>
                      <p class="mb-0">Tình nguyện viên</p>
                    </div>
                    <i class="ion ion-md-person"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end container-fluid -->

      </div>
      <!-- end content -->



      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              2015 - 2020 &copy; Velonic theme by <a href="">Coderthemes</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->


  <!-- Right Sidebar -->
  <%- include('./../../component/Rightbar'); -%>
  <!-- /Right-bar -->


  <%- include('./../../partials/script_footer') -%>
</body>

</html>